/* .searchBar {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .searchInput {
    flex: 1;
    height: 100%;
    padding: 0 16px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  .searchButton {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: white;
    border: none;
    cursor: pointer;
  } */

/* src/components/Search/Search.module.css */
/* src/components/Search/Search.module.css */
.searchContainer {
  width: 400px;
  max-width: 100%;
}
